<center>

# User Reviews ETL

<center>

In [10]:
# Importations.
import os
import pandas as pd
import ast
import numpy as np

<div style="text-align: justify">

### 1. Converting Data: From JSON Format to CSV Format

This is the final version of the code to transform the JSON file into a CSV file. The process was challenging because the reviews column was nested with a list that contained lists for every user. Inside each list, there was a dictionary with all the reviews from the user. Additionally, some reviews had escape sequences like \r (Carriage Return) or \n (New Line). When I attempted to normalize the file, the sequence and order were lost. To normalize the file, I had to clean the JSON file and create a new one. Then, I could successfully normalize the file.
</div>

In [3]:
# Transformation code: from JSON to CSV. 
# File paths.
user_reviews = 'PI MLOps - STEAM/user_reviews.json'
user_reviews_cleaned = 'PI MLOps - STEAM/user_reviews_cleaned.json'
user_reviews_csv = 'csv/user_reviews.csv'

# If the cleaned file does not exist, create it.
if not os.path.exists(user_reviews_csv):
    # Read the JSON file and clean the review text format.
    with open(user_reviews, encoding='utf-8') as f, open(user_reviews_cleaned, 'w', encoding='utf-8') as f_cleaned:
        for line in f.readlines():
            review_data = ast.literal_eval(line)
            user_reviews = review_data.get('reviews', [])

            # Clean the format of the review text.
            for review in user_reviews:
                review['review'] = review.get('review', '').replace('\r', ' ').replace('\n', ' ').replace('\t', ' ')

            # Write the cleaned line to the new file.
            f_cleaned.write(str(review_data) + '\n')

        # Read the cleaned JSON file and normalize to a DataFrame.
        reviews = []
        with open(user_reviews_cleaned, encoding='utf-8') as f:
            for line in f.readlines():
                review_data = ast.literal_eval(line)
                user_id = review_data.get('user_id', '')
                user_url = review_data.get('user_url', '')
                user_reviews = review_data.get('reviews', [])

                # Add 'user_id' and 'user_url' to each review.
                for review in user_reviews:
                    review['user_id'] = user_id
                    review['user_url'] = user_url

                reviews.extend(user_reviews)

        # Normalize the JSON to a DataFrame.
        df_reviews = pd.json_normalize(reviews)

        # Save the DataFrame as a CSV file.
        df_reviews.to_csv(user_reviews_csv, index=False)
    print(f'The file {user_reviews_csv} was successfully created.')        
else:
    print(f'The cleaned file {user_reviews_csv} already exists.')

The file csv/user_reviews.csv was successfully created.

In [5]:
# reading the file user_reviews.csv, during the first version of the transformation code.
df_reviews = pd.read_csv('csv/user_reviews.csv')

In [3]:
# checking the file information.
df_reviews.head(1)

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."

At the beginning, I thought this was nested like the Users Items file, so I updated the code and tried it again.

In [3]:
# checking the result after the unnesting proccess.
df_reviews_unnested = pd.read_csv('csv/user_reviews.csv')

In [25]:
# checking the result after the first update.
df_reviews_unnested.head(3)

,funny,posted,last_edited,item_id,helpful,recommend,review,user_id,user_url
0,NaN,"Posted November 5, 2011.",NaN,1250,No ratings yet,True,Simple yet with great replayability. In my opi...,76561197970982479,http://steamcommunity.com/profiles/76561197970...
1,NaN,"Posted July 15, 2011.",NaN,22200,No ratings yet,True,It's unique and worth a playthrough.,76561197970982479,http://steamcommunity.com/profiles/76561197970...
2,NaN,"Posted April 21, 2011.",NaN,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...,76561197970982479,http://steamcommunity.com/profiles/76561197970...

<div style="text-align: justify">

I tried to unnest this file using the code for the User Reviews file inside 0. preparation.ipynb. Apparently, everything was perfect, but when I wanted to check the file in Power BI, it showed me a warning indicating that 3 items had errors. I could see the items ID, but I couldn't see the 3 users' IDs with the errors. The users were AxeOfChaos, cumtasteslikejelly, and 988988MePls.

</div>

<div style="text-align: justify">

### 2. Understanding How the Review Column Was Nested

After finding the 3 errors, I decided to check and discovered that the normalization of the file did not work. I reached this conclusion when I tested 2 items IDs from the user 76561198114558878. For instance, the item 108600 is not reflecting the full description, unlike the item 239140.

</div>

In [27]:
# User from error.
user_id_value = '76561198114558878'

# Filter the DataFrame for rows with the specified user_id.
user_results = df_reviews_unnested[df_reviews_unnested['user_id'] == user_id_value]

# Display the resulting DataFrame.
user_results

,funny,posted,last_edited,item_id,helpful,recommend,review,user_id,user_url
58222,1 person found this review funny,"Posted December 19, 2015.",NaN,349100,9 of 9 people (100%) found this review helpful,True,Notrium.I don't have words for this game. Prob...,76561198114558878,http://steamcommunity.com/profiles/76561198114...
58223,NaN,"Posted May 19, 2014.",NaN,108600,2 of 2 people (100%) found this review helpful,True,A fantastic zombie game! Fast paced; but also ...,76561198114558878,http://steamcommunity.com/profiles/76561198114...
58224,NaN,"Posted August 12, 2014.",NaN,227940,1 of 3 people (33%) found this review helpful,True,Heroes and Generals is a FPS based in the year...,76561198114558878,http://steamcommunity.com/profiles/76561198114...
58225,1 person found this review funny,Posted June 9.,NaN,239140,2 of 10 people (20%) found this review helpful,False,Did you literally just make my base game redun...,76561198114558878,http://steamcommunity.com/profiles/76561198114...

I found the user 76561198114558878 when I filtered the column posted in Power BI, so I took it for the test.

In [35]:
# searching a result considering the user_id and item_id.
user_id_value = '76561198114558878'
item_id_value = 108600

# Filter the DataFrame for records with specific user_id and item_id.
filtered_records = df_reviews_unnested[(df_reviews_unnested['user_id'] == user_id_value) & (df_reviews_unnested['item_id'] == item_id_value)]

filtered_records

,funny,posted,last_edited,item_id,helpful,recommend,review,user_id,user_url
58223,NaN,"Posted May 19, 2014.",NaN,108600,2 of 2 people (100%) found this review helpful,True,A fantastic zombie game! Fast paced; but also ...,76561198114558878,http://steamcommunity.com/profiles/76561198114...

In [36]:
# Display the full content of the 'review' column for the specific user and item.
print("Review content:")
for index, row in filtered_records.iterrows():
    print(row['review'])

Review content:
 = It's a Zombie game. At least they aren't Nazis... /Senses incoming DLC./as holding my handgun upside down; AND backwards! D; What's up with that? You should also make sure that the if you get a certain style of melee weapon; they swing differently. Like; I don't think I'd swing an Axe like a Baseball bat. XD Just saying!

<div style="text-align: justify">

After comparing both outputs, I realized something was wrong. Taking a closer look at the **review** column in Power BI when I wanted to filter the information, I noticed there was an empty list [] and, after this, many other lists with dictionaries. The column composition was something like this: [[], [{'funny': '', 'posted': 'Posted November 5, 2011.', 'last_edited': '', 'item_id': '1250', 'helpful': 'No ratings yet', 'recommend': True, 'review': 'Simple yet with great replayability. In my opinion, it does 'zombie' hordes and teamwork better than Left 4 Dead, plus it has a global leveling system. A lot of down-to-earth 'zombie' splattering fun for the whole family. Amazed this sort of FPS is so rare.'}, {...}], [{'...'}]...] this made me rebuild the code.

</div>

In [2]:
# reading the csv file after the code rebuild.
df_reviews_final = pd.read_csv('csv/user_reviews.csv')

In [5]:
# User to check the new file.
user_id_value = 'AxeOfChaos'

# Filter the DataFrame for rows with the specified user_id.
results = df_reviews_final[df_reviews_final['user_id'] == user_id_value]

# Display the resulting DataFrame.
results

,funny,posted,last_edited,item_id,helpful,recommend,review,user_id,user_url
8824,NaN,Posted August 31.,NaN,475150,4 of 4 people (100%) found this review helpful,True,The original and the best just got even better...,AxeOfChaos,http://steamcommunity.com/id/AxeOfChaos
8825,NaN,"Posted August 21, 2013.",NaN,24740,No ratings yet,True,"Most fun you can have on 4 wheels, or even 2! ...",AxeOfChaos,http://steamcommunity.com/id/AxeOfChaos
8826,NaN,"Posted July 30, 2012.",NaN,105600,No ratings yet,True,Co-op is amazing :D,AxeOfChaos,http://steamcommunity.com/id/AxeOfChaos

<div style="text-align: justify">

I checked this new version in Power BI and this time there were no warnings. I took AxeOfChaos as a user to test because I was unable to find results for this user after the first.

</div>

<div style="text-align: justify">

### 3. Finding null and duplicate values.

I started cleaning the final file, removing the null and duplicate values. I checked and removed the null data in the **review** column.

</div>

In [6]:
df_reviews_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59276 entries, 0 to 59275
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   funny        8143 non-null   object
 1   posted       59276 non-null  object
 2   last_edited  6139 non-null   object
 3   item_id      59276 non-null  int64
 4   helpful      59276 non-null  object
 5   recommend    59276 non-null  bool
 6   review       59246 non-null  object
 7   user_id      59276 non-null  object
 8   user_url     59276 non-null  object
dtypes: bool(1), int64(1), object(7)
memory usage: 3.7+ MB

According to the info() method, there were null data.

In [7]:
# Check for null values in the DataFrame.
null_counts = df_reviews_final.isnull().sum()

# Display the count of null values per column.
null_counts

funny          51133
posted             0
last_edited    53137
item_id            0
helpful            0
recommend          0
review            30
user_id            0
user_url           0
dtype: int64

<div style="text-align: justify">

According to the result, there were null data in the columns funny, last edited and review. I focused on the review column because I thought the funny and last edited columns were unnecessary for the project.

</div>

In [8]:
# checking for rows where 'review' is NaN or null.
missing_reviews_rows = df_reviews_final[df_reviews_final['review'].isna()]
missing_reviews_rows.head(2)

,funny,posted,last_edited,item_id,helpful,recommend,review,user_id,user_url
3095,NaN,Posted March 11.,NaN,550,No ratings yet,True,NaN,2ZESTY4ME,http://steamcommunity.com/id/2ZESTY4ME
4616,NaN,"Posted September 19, 2014.",NaN,550,No ratings yet,True,NaN,76561198093337643,http://steamcommunity.com/profiles/76561198093...

In [9]:
# Remove rows where 'review' is null.
df_reviews_final = df_reviews_final.dropna(subset=['review'])

# Check for null values in the DataFrame.
null_counts = df_reviews_final.isnull().sum()

# Display the count of null values per column.
null_counts

funny          51104
posted             0
last_edited    53107
item_id            0
helpful            0
recommend          0
review             0
user_id            0
user_url           0
dtype: int64

I removed the NAN reviews because I think a review should give you an idea about the game you want to buy.

In [10]:
# finding duplicates.
duplicates = df_reviews_final.loc[df_reviews_final.duplicated()]
duplicates

,funny,posted,last_edited,item_id,helpful,recommend,review,user_id,user_url
1112,NaN,"Posted September 24, 2015.",NaN,346110,1 of 1 people (100%) found this review helpful,True,yep,bokkkbokkk,http://steamcommunity.com/id/bokkkbokkk
2891,NaN,"Posted January 10, 2014.",NaN,218620,1 of 3 people (33%) found this review helpful,True,"Good graphics, fun heists! A bit laggy",ImSeriouss,http://steamcommunity.com/id/ImSeriouss
2892,NaN,"Posted January 10, 2014.",NaN,105600,0 of 2 people (0%) found this review helpful,True,So fun! DEFINITELY NOT RIP OFF OF MINECRAFT! e...,ImSeriouss,http://steamcommunity.com/id/ImSeriouss
2893,NaN,"Posted December 17, 2014.",NaN,570,No ratings yet,True,bobo pinoy,ImSeriouss,http://steamcommunity.com/id/ImSeriouss
2894,NaN,"Posted January 13, 2014.",NaN,211820,No ratings yet,True,If you want to play this game.. expect glithes...,ImSeriouss,http://steamcommunity.com/id/ImSeriouss
...,...,...,...,...,...,...,...,...,...
44433,NaN,Posted July 3.,NaN,422400,No ratings yet,True,Muy entretenido y una coleccion de armas prome...,76561198092022514,http://steamcommunity.com/profiles/76561198092...
44434,NaN,Posted June 1.,NaN,218620,No ratings yet,True,"Tiene una jugabilidad y tematica muy buena :D,...",76561198092022514,http://steamcommunity.com/profiles/76561198092...
44435,NaN,"Posted August 17, 2014.",NaN,261820,No ratings yet,True,"Buen juego, no importa el desarrrollo que tien...",76561198092022514,http://steamcommunity.com/profiles/76561198092...
44436,NaN,"Posted February 17, 2014.",NaN,224260,No ratings yet,True,exelente aporte :D¡¡¡ es una buen mod basado e...,76561198092022514,http://steamcommunity.com/profiles/76561198092...
44580,NaN,"Posted July 18, 2015.","Last edited December 1, 2015.",730,No ratings yet,True,10/10 too many children with mikes.,SuchGayMuchWow,http://steamcommunity.com/id/SuchGayMuchWow

In [11]:
# searching a duplicate result considering the user_id and item_id
user_id_value = 'ImSeriouss'
item_id_value = 211820

# Filter the DataFrame for records with specific user_id and item_id
filtered_records = df_reviews_final[(df_reviews_final['user_id'] == user_id_value) & (df_reviews_final['item_id'] == item_id_value)]

# Display the resulting DataFrame
filtered_records

,funny,posted,last_edited,item_id,helpful,recommend,review,user_id,user_url
2888,NaN,"Posted January 13, 2014.",NaN,211820,No ratings yet,True,If you want to play this game.. expect glithes...,ImSeriouss,http://steamcommunity.com/id/ImSeriouss
2894,NaN,"Posted January 13, 2014.",NaN,211820,No ratings yet,True,If you want to play this game.. expect glithes...,ImSeriouss,http://steamcommunity.com/id/ImSeriouss

In [12]:
# deleting duplicate values.
# Get the total number of rows before deduplication.
total_rows_before = len(df_reviews_final)

# Remove duplicate rows.
df_reviews_final = df_reviews_final.drop_duplicates(keep='first')

# Get the total number of rows after deduplication.
total_rows_after = len(df_reviews_final)

# Calculate the number of rows removed.
rows_removed = total_rows_before - total_rows_after

# Print the information.
print(f'Total rows before: {total_rows_before}')
print(f'Total rows after: {total_rows_after}')
print(f'Rows removed: {rows_removed}')

Total rows before: 59246
Total rows after: 58372
Rows removed: 874

I wanted to be sure that the drop_duplicates function deleted the right amount of duplicate values.

<div style="text-align: justify">

### 4. Deleting cells with Whitespace and Empty Strings

Finding a removing the rows in which the column review is empty because as the reviews with NAN this does not provide useful information to buy a game.

</div>

In [3]:
# Display the data types of the 'review' column.
print("Data types in 'review' column:")
print(df_reviews_final['review'].apply(type).value_counts())

Data types in 'review' column:
review
<class 'str'>      58364
<class 'float'>        8
Name: count, dtype: int64

I found 2 different types of data in the column review, this made me wonder what kind of information the reviews had.

In [5]:
# Identify rows where 'review' has a data type of float.
float_review_rows = df_reviews_final[df_reviews_final['review'].apply(lambda x: isinstance(x, float))]

# Display the rows where 'review' is of type float.
print(float_review_rows[['user_id', 'item_id', 'review']])

                 user_id  item_id review
614    76561198070263209      570    NaN
914             Azrafael   215530    NaN
9242         BomberThink   233840    NaN
9243         BomberThink   211820    NaN
22398             rpsntc   208090    NaN
28002  76561198040016388     8500    NaN
28347        SILENTLIGHT    40800    NaN
54437           inconi70       10    NaN

I filtered the float type, and the reviews were filled with NAN. This led me to think that these reviews might be filled with spaces or empty strings, as that information was not deleted when I applied dropna to remove the nulls.

In [6]:
# Identify rows where 'review' is NaN using isna().
nan_review_rows = df_reviews_final[df_reviews_final['review'].isna()]

# Display the rows where 'review' is NaN.
print("Rows where 'review' is NaN:")
print(nan_review_rows[['user_id', 'item_id', 'review']])

Rows where 'review' is NaN:
                 user_id  item_id review
614    76561198070263209      570    NaN
914             Azrafael   215530    NaN
9242         BomberThink   233840    NaN
9243         BomberThink   211820    NaN
22398             rpsntc   208090    NaN
28002  76561198040016388     8500    NaN
28347        SILENTLIGHT    40800    NaN
54437           inconi70       10    NaN

In [11]:
# Convert various types of missing values to NaN.
df_reviews_final['review'] = df_reviews_final['review'].apply(lambda x: np.nan if pd.isna(x) or x == '' or x is None else x)

# Drop rows where 'review' is NaN.
df_reviews_final = df_reviews_final.dropna(subset=['review'])

When I used isnull those items were not detected, but when I used **isna** I could see and remove the other rows with spaces.

<div style="text-align: justify">

### 5. Creating the column year from the posted column

For the project, it was necessary to determine the year to calculate the most played genre. Additionally, this information is crucial for identifying the user who has accumulated the most hours for a specific genre.

</div>

In [28]:
# Extract unique date patterns using regular expressions.
date_patterns = df_reviews_final['posted'].str.extract(r'(\b\w+ \d{1,2},? \d{4}\b|\b\w+ \d{1,2}\b)')[0].unique()

# Print the unique date patterns.
for pattern in date_patterns:
    print(f"{pattern}  ", end="--")

November 5, 2011  --July 15, 2011  --April 21, 2011  --June 24, 2014  --September 8, 2013  --November 29, 2013  --February 3  --December 4, 2015  --November 3, 2014  --October 15, 2014  --October 14, 2013  --July 28, 2012  --June 2, 2012  --June 29, 2014  --November 22, 2012  --February 23, 2012  --April 15, 2014  --December 23, 2013  --March 14, 2014  --July 11, 2013  --May 5, 2014  --December 24, 2012  --October 21, 2012  --March 20, 2012  --March 9, 2012  --May 20  --July 24  --February 1, 2015  --June 20, 2014  --June 16  --June 11  --August 25, 2014  --December 25, 2013  --June 23, 2012  --September 5, 2015  --March 30, 2015  --February 19, 2014  --July 14, 2014  --April 27, 2013  --July 20, 2015  --November 4, 2013  --July 12, 2013  --August 19, 2012  --June 19, 2015  --September 20, 2014  --September 7, 2014  --December 19, 2014  --February 17, 2015  --June 7, 2014  --February 12, 2014  --February 9, 2014  --October 31, 2015  --February 27  --February 4, 2015  --August 23  --April 5, 2014  --January 8, 2015  --October 26, 2015  --May 16  --March 20, 2013  --December 28, 2015  --May 19, 2015  --December 15, 2015  --March 31  --August 21, 2015  --October 17, 2014  --June 27, 2014  --April 28, 2014  --November 12, 2015  --June 18, 2014  --November 20, 2014  --May 29, 2014  --July 9  --December 29, 2014  --February 13, 2015  --December 26, 2014  --February 4, 2014  --May 21, 2015  --December 6, 2013  --May 12, 2014  --August 24, 2015  --January 6, 2015  --December 22, 2015  --June 23, 2015  --September 11, 2015  --April 22, 2013  --May 27, 2012  --January 18  --July 30  --July 28  --December 5, 2015  --October 4, 2015  --October 3, 2015  --August 13, 2015  --February 22, 2015  --January 14, 2015  --December 14, 2013  --December 1, 2013  --February 11, 2012  --February 20  --March 12, 2015  --October 14, 2015  --October 27, 2013  --November 27, 2015  --October 9, 2014  --May 7  --April 4  --March 30  --March 28  --November 9, 2015  --December 23, 2015  --May 6, 2014  --December 2, 2015  --June 6, 2015  --September 29, 2015  --September 8, 2014  --December 15, 2013  --November 23, 2015  --June 1, 2014  --July 11, 2014  --November 14, 2014  --November 13, 2015  --December 17, 2015  --October 26, 2014  --January 11  --June 28, 2014  --September 12, 2015  --September 13, 2015  --April 20  --February 26  --November 19, 2015  --June 25, 2013  --April 11, 2014  --February 22, 2014  --September 24, 2012  --September 26, 2015  --June 12, 2015  --August 3, 2015  --June 26, 2015  --January 15, 2014  --October 14, 2014  --August 31  --July 9, 2014  --March 13, 2014  --November 11, 2014  --July 21, 2015  --July 5, 2015  --February 23, 2014  --March 27  --January 15  --March 22, 2015  --August 21, 2014  --March 13, 2015  --March 20, 2015  --March 7, 2015  --October 10, 2015  --July 6, 2014  --June 19, 2014  --April 11, 2015  --December 24, 2015  --May 17, 2014  --August 9, 2014  --May 22, 2015  --August 22, 2015  --May 26  --December 30, 2015  --August 1, 2014  --December 26, 2015  --April 14, 2015  --December 30, 2014  --December 4, 2013  --August 19  --November 10, 2015  --September 14  --August 27, 2012  --February 5, 2014  --January 27, 2013  --August 25, 2015  --December 16, 2014  --March 8, 2014  --November 16, 2013  --November 11, 2015  --January 17, 2013  --July 17, 2015  --December 29, 2013  --May 6, 2015  --July 20  --January 26, 2015  --November 16, 2014  --August 17, 2014  --July 21, 2014  --July 19, 2014  --February 8, 2014  --January 7, 2014  --July 6, 2015  --September 6, 2015  --April 24, 2014  --January 27, 2015  --January 25, 2015  --May 24, 2014  --October 20, 2012  --March 28, 2014  --February 23, 2015  --August 29, 2015  --November 23, 2014  --September 9, 2014  --March 26, 2015  --July 8  --September 14, 2015  --October 13, 2014  --July 23  --December 27, 2015  --May 13, 2015  --December 21, 2015  --November 15, 2015  --September 9  --June 13, 2014  --January 7, 2015  --January 2, 2014  --November 18, 2015  --March 18, 2014  --February 16, 2014  --February 25, 2015  --August 15, 2015  --December 25, 2014  --February 22  --August 14, 2015  --May 29  --July 3  --June 20  --March 1, 2015  --November 27, 2014  --May 17  --November 20, 2015  --September 17  --August 23, 2014  --June 17, 2014  --July 10, 2014  --August 26  --June 15, 2015  --February 14, 2015  --July 1, 2015  --January 15, 2015  --April 29, 2015  --March 29, 2015  --December 26, 2013  --October 5, 2015  --June 29  --June 14, 2013  --September 4  --July 16  --May 31, 2015  --June 26  --May 3, 2015  --June 14  --August 6, 2015  --December 17, 2014  --September 30, 2014  --March 10, 2015  --January 16  --March 5  --March 19  --September 1, 2015  --April 19  --April 18  --August 8, 2015  --July 15, 2015  --May 11, 2015  --May 2, 2015  --February 7  --January 30  --August 20, 2014  --April 10  --September 15  --May 1, 2015  --October 28, 2015  --April 15  --December 15, 2014  --December 6, 2014  --January 31, 2015  --July 26, 2013  --May 18, 2013  --October 30, 2011  --December 13, 2015  --May 18, 2015  --June 22  --July 14  --June 27  --March 8  --December 13, 2014  --July 31, 2015  --June 29, 2015  --February 12, 2015  --March 29, 2014  --April 21, 2014  --February 15, 2013  --August 1, 2015  --December 27, 2013  --July 16, 2014  --January 13, 2015  --January 11, 2014  --September 3, 2015  --January 20, 2014  --May 3, 2014  --May 1  --August 2, 2014  --March 17, 2014  --July 19, 2015  --May 26, 2015  --November 22, 2015  --October 18, 2014  --March 7  --January 22, 2015  --August 20, 2015  --May 14, 2015  --April 13, 2015  --October 1, 2014  --December 28, 2013  --November 30, 2014  --January 5, 2015  --December 23, 2014  --October 4, 2014  --January 10  --September 12  --December 8, 2013  --November 6, 2015  --June 25  --September 23, 2015  --May 31, 2014  --June 24, 2015  --July 22, 2015  --March 20  --June 3, 2015  --July 26, 2014  --May 15  --May 13  --July 10  --August 16  --July 31  --March 6  --April 23, 2014  --September 8  --September 2  --April 12, 2014  --April 4, 2015  --September 14, 2014  --October 12, 2015  --December 1, 2015  --May 10, 2014  --March 25  --December 27, 2014  --July 7  --July 13, 2014  --January 28, 2015  --May 8, 2014  --November 21, 2013  --December 7, 2013  --February 9, 2013  --January 9, 2014  --July 18  --May 14  --June 18  --January 9, 2013  --November 30, 2012  --April 22  --March 10, 2014  --February 27, 2014  --November 25, 2013  --June 11, 2014  --September 4, 2015  --August 10, 2015  --July 7, 2015  --March 12  --September 15, 2013  --November 4, 2014  --August 7, 2014  --June 30, 2014  --August 7, 2015  --August 2, 2015  --February 24, 2014  --February 27, 2015  --August 13  --February 14  --January 16, 2015  --June 10, 2015  --February 24  --October 17, 2015  --October 8, 2013  --February 18, 2014  --June 4, 2014  --March 2  --February 26, 2014  --July 15, 2013  --June 16, 2015  --July 20, 2014  --August 28, 2014  --May 30, 2015  --May 26, 2014  --August 15  --March 5, 2015  --July 23, 2015  --July 7, 2014  --August 22  --October 16, 2015  --January 9  --July 15, 2012  --January 27, 2011  --December 16, 2010  --September 9, 2015  --October 15, 2015  --November 26, 2013  --December 12, 2013  --March 5, 2014  --November 30, 2013  --December 2, 2013  --November 28, 2013  --September 11, 2014  --July 18, 2014  --September 10, 2015  --May 22, 2012  --January 17, 2015  --October 24, 2014  --October 27, 2014  --October 1, 2015  --May 2, 2014  --May 6, 2013  --March 24  --May 6  --August 31, 2015  --January 10, 2015  --January 4, 2014  --April 24, 2015  --February 21, 2014  --July 13, 2015  --April 3, 2014  --August 29, 2014  --June 8  --January 4, 2015  --May 16, 2014  --November 26, 2015  --May 20, 2014  --March 25, 2014  --September 2, 2014  --February 5, 2015  --February 6, 2015  --December 24, 2013  --December 11, 2015  --June 24  --June 21, 2014  --June 3  --July 9, 2015  --July 31, 2014  --July 12, 2012  --August 14  --February 2, 2015  --December 16, 2013  --January 5, 2014  --March 11, 2015  --August 28  --December 25, 2015  --November 29, 2015  --April 13, 2014  --January 22  --April 12  --August 21  --June 5, 2015  --September 2, 2015  --January 12, 2014  --March 21, 2015  --February 28, 2015  --October 7, 2014  --July 18, 2015  --October 28, 2014  --December 20, 2013  --September 27, 2015  --March 28, 2015  --July 29  --July 5  --April 25, 2014  --November 1, 2014  --December 29, 2015  --October 18, 2015  --August 15, 2014  --May 30  --October 7, 2015  --January 1  --January 9, 2015  --February 1, 2014  --May 12  --March 2, 2015  --October 16, 2014  --August 27, 2015  --October 2, 2014  --January 14  --May 23  --September 3, 2014  --March 21, 2014  --January 27, 2014  --February 3, 2015  --June 1, 2015  --August 8, 2014  --April 17, 2014  --March 12, 2014  --January 23, 2014  --January 21, 2013  --September 27, 2012  --July 19, 2012  --February 18  --February 13  --July 4, 2015  --July 3, 2015  --June 17  --December 30, 2013  --March 26, 2014  --December 22, 2013  --October 29, 2014  --September 29, 2014  --August 16, 2014  --July 24, 2015  --April 7, 2015  --August 4, 2014  --March 27, 2015  --February 7, 2015  --October 31, 2014  --February 3, 2014  --May 9, 2014  --August 19, 2014  --June 9, 2014  --January 23, 2015  --May 7, 2014  --November 18, 2014  --December 20, 2015  --July 2, 2015  --January 24, 2013  --January 10, 2014  --March 4  --August 3  --January 1, 2014  --December 30, 2011  --June 17, 2012  --January 28, 2012  --December 27, 2011  --December 20, 2011  --December 28, 2010  --March 20, 2014  --February 21  --October 6, 2014  --May 30, 2014  --November 8, 2015  --May 24, 2015  --July 1, 2014  --September 27, 2014  --May 28, 2015  --June 18, 2015  --February 28, 2014  --June 28  --July 6  --May 9, 2015  --April 21, 2015  --May 18  --August 29  --July 30, 2015  --January 2  --June 30, 2015  --January 12, 2015  --July 12  --June 2, 2014  --May 28, 2014  --March 10  --June 27, 2015  --July 4  --June 25, 2015  --September 7  --February 29  --March 14, 2015  --July 26, 2015  --October 10, 2014  --August 17, 2015  --April 3, 2015  --August 23, 2012  --January 27  --March 11  --June 22, 2014  --September 15, 2014  --November 5, 2014  --January 1, 2015  --February 15, 2015  --May 21, 2014  --February 10, 2014  --March 23, 2014  --September 10  --July 4, 2014  --January 18, 2013  --July 29, 2014  --November 8, 2014  --June 8, 2015  --June 7, 2015  --April 28  --May 25, 2015  --February 11  --February 23  --March 22, 2014  --September 22, 2014  --April 9, 2015  --May 25, 2014  --May 24  --October 20, 2015  --December 19, 2015  --July 10, 2015  --September 18, 2015  --November 1, 2015  --February 13, 2014  --December 10, 2013  --March 22  --July 3, 2014  --May 28  --February 21, 2015  --March 7, 2014  --November 27, 2013  --February 17  --May 15, 2014  --April 2, 2014  --September 5, 2014  --March 6, 2014  --February 8  --July 5, 2014  --August 17, 2013  --August 14, 2013  --June 8, 2013  --April 2  --August 12  --October 8, 2015  --August 12, 2014  --September 28, 2011  --January 21  --January 4  --July 28, 2014  --September 13, 2014  --January 7  --July 22, 2012  --October 13, 2012  --April 2, 2015  --May 25  --September 16  --June 23  --September 26, 2014  --December 14, 2015  --July 29, 2015  --November 3, 2015  --June 15  --June 21, 2015  --December 9, 2012  --September 14, 2012  --July 17, 2014  --June 11, 2015  --April 9, 2014  --June 25, 2014  --April 26  --May 4  --October 20, 2013  --August 6, 2014  --February 7, 2014  --January 6, 2014  --December 4, 2012  --July 17, 2012  --January 21, 2015  --October 25, 2015  --November 28, 2015  --May 8, 2015  --April 26, 2015  --October 6, 2015  --August 26, 2014  --May 23, 2014  --September 24, 2015  --September 3  --December 17, 2013  --January 3  --January 30, 2014  --January 26  --April 26, 2014  --February 27, 2012  --November 29, 2014  --November 28, 2014  --May 31  --February 28, 2013  --July 7, 2013  --October 24, 2013  --February 10  --September 23, 2014  --May 1, 2014  --April 10, 2014  --January 31  --January 14, 2014  --September 30, 2015  --June 14, 2015  --September 25, 2013  --October 1, 2012  --September 23, 2013  --August 31, 2013  --August 20, 2013  --March 25, 2013  --March 26  --January 25  --December 18, 2015  --August 7  --December 12, 2014  --April 18, 2015  --May 5, 2015  --January 19  --January 24  --April 29  --May 16, 2015  --June 9, 2013  --September 11  --September 28, 2014  --August 26, 2015  --December 11, 2013  --May 20, 2015  --January 28, 2014  --December 20, 2014  --March 23, 2015  --October 29, 2015  --September 20, 2015  --April 28, 2015  --January 29, 2014  --May 27  --January 19, 2015  --June 26, 2014  --April 1, 2015  --May 23, 2015  --February 28  --May 5  --April 15, 2015  --November 25, 2015  --July 24, 2014  --May 4, 2015  --August 10, 2014  --July 23, 2014  --February 6, 2014  --June 23, 2014  --December 21, 2014  --February 24, 2013  --November 24, 2015  --February 18, 2015  --August 5, 2015  --September 12, 2014  --November 2, 2015  --August 19, 2015  --August 17  --August 11, 2014  --October 16, 2012  --June 14, 2014  --April 1  --July 11, 2015  --November 14, 2013  --June 5  --January 18, 2015  --January 31, 2014  --February 14, 2014  --January 20, 2015  --December 19, 2010  --October 19, 2015  --September 25, 2015  --October 24, 2015  --November 26, 2014  --September 18, 2014  --April 9  --October 2, 2015  --January 29  --February 25, 2013  --June 30  --September 21, 2014  --February 22, 2011  --December 20, 2010  --February 1, 2012  --September 1, 2014  --December 6, 2015  --July 14, 2015  --April 25  --September 28, 2015  --December 19, 2013  --April 3  --December 7, 2015  --August 11, 2015  --February 15  --July 17  --November 10, 2013  --February 2, 2014  --September 16, 2014  --January 25, 2014  --June 1, 2013  --December 21, 2013  --November 4, 2015  --September 8, 2015  --February 6  --April 19, 2014  --February 15, 2014  --July 12, 2014  --October 28, 2012  --February 7, 2013  --February 9, 2015  --January 11, 2015  --December 8, 2015  --July 8, 2015  --December 31, 2014  --March 15  --July 25, 2014  --August 30  --November 11, 2013  --March 1, 2014  --June 10  --April 22, 2015  --October 30, 2015  --October 30, 2014  --August 27, 2013  --November 22, 2014  --December 2, 2014  --April 18, 2014  --April 14  --January 3, 2015  --August 5  --December 16, 2015  --November 25, 2014  --October 25, 2014  --April 30, 2015  --December 3, 2014  --September 26, 2013  --August 7, 2013  --July 19, 2013  --December 10, 2014  --December 9, 2015  --January 23, 2013  --February 17, 2014  --August 30, 2014  --September 12, 2013  --March 29  --May 27, 2015  --July 25  --January 13  --July 13  --March 6, 2015  --July 11  --August 25  --July 18, 2013  --January 24, 2014  --February 25, 2014  --November 13, 2014  --April 13  --April 8, 2015  --January 17, 2014  --November 14, 2015  --April 6, 2015  --June 12  --November 23, 2012  --July 5, 2013  --June 21, 2013  --February 16  --June 22, 2015  --August 13, 2014  --May 29, 2015  --October 19, 2012  --February 19, 2015  --December 18, 2014  --June 30, 2013  --February 5  --June 13, 2015  --February 20, 2014  --January 30, 2015  --July 16, 2013  --December 16, 2012  --February 19  --April 16, 2015  --May 8, 2013  --November 18, 2013  --March 15, 2014  --March 21  --May 17, 2015  --December 14, 2014  --October 20, 2014  --May 31, 2012  --July 2  --January 28  --November 24, 2014  --September 25, 2012  --August 24, 2014  --October 23, 2015  --February 8, 2013  --May 25, 2013  --January 26, 2014  --June 2  --March 14  --October 5, 2014  --May 18, 2014  --June 20, 2015  --August 3, 2014  --December 20, 2012  --May 13, 2014  --January 13, 2014  --May 10, 2015  --December 18, 2013  --December 4, 2014  --March 8, 2015  --July 25, 2015  --May 8  --December 24, 2014  --July 2, 2014  --July 27  --April 6, 2014  --December 8, 2014  --April 27, 2015  --July 26, 2012  --August 23, 2015  --June 21  --April 20, 2015  --December 1, 2014  --November 23, 2010  --March 1  --March 18, 2015  --May 11  --December 12, 2015  --October 1, 2013  --December 7, 2014  --March 25, 2015  --October 3, 2014  --November 6, 2014  --December 3, 2015  --April 29, 2014  --September 20, 2013  --December 31, 2015  --January 20  --April 21  --February 26, 2015  --September 21, 2015  --October 2, 2013  --February 11, 2013  --April 8, 2014  --July 5, 2012  --May 30, 2012  --February 19, 2013  --August 18, 2014  --January 6  --September 25, 2014  --January 3, 2014  --August 20  --August 10  --May 5, 2013  --March 27, 2014  --March 3, 2014  --August 18, 2015  --June 7  --August 27, 2014  --November 7, 2014  --April 30  --July 14, 2013  --April 2, 2013  --July 8, 2014  --April 17  --June 9  --October 11, 2015  --October 29, 2013  --August 25, 2013  --December 13, 2012  --November 24, 2012  --June 17, 2015  --June 4  --April 11  --December 11, 2012  --August 22, 2014  --September 10, 2013  --May 17, 2013  --September 19, 2015  --April 14, 2014  --April 16, 2014  --June 28, 2015  --December 13, 2013  --December 9, 2013  --February 25  --June 3, 2014  --February 8, 2015  --January 22, 2012  --April 12, 2015  --March 31, 2014  --December 31, 2013  --April 27  --October 21, 2015  --December 5, 2014  --April 7  --December 10, 2015  --August 14, 2014  --June 13  --May 15, 2015  --March 19, 2013  --March 15, 2015  --May 12, 2015  --November 12, 2014  --February 4, 2013  --September 6, 2014  --November 9, 2012  --October 9, 2015  --August 27  --August 30, 2015  --August 6  --August 18  --June 22, 2011  --April 20, 2014  --June 29, 2013  --September 28, 2012  --April 22, 2011  --March 22, 2011  --December 12, 2010  --April 25, 2015  --January 21, 2014  --January 19, 2014  --November 30, 2015  --May 11, 2013  --March 23, 2013  --April 10, 2015  --April 5, 2015  --March 9  --January 17  --October 8, 2014  --March 26, 2013  --July 27, 2014  --June 6  --July 28, 2013  --March 16, 2015  --November 16, 2015  --March 23  --September 7, 2015  --June 10, 2014  --September 18  --August 2  --June 8, 2014  --February 16, 2015  --July 1  --May 7, 2015  --June 16, 2012  --October 7, 2013  --November 10, 2014  --December 22, 2014  --August 9  --January 8  --July 19  --July 15, 2014  --January 18, 2014  --June 12, 2014  --July 12, 2015  --March 3  --April 16  --August 4, 2015  --February 11, 2014  --March 11, 2014  --July 15  --September 13  --September 4, 2014  --June 4, 2015  --April 4, 2014  --November 17, 2014  --June 24, 2013  --October 24, 2011  --July 21, 2013  --October 12, 2014  --May 28, 2013  --January 29, 2015  --June 9, 2015  --November 14, 2012  --May 10  --August 12, 2015  --November 22, 2011  --July 27, 2015  --January 23  --September 24, 2014  --November 9, 2013  --November 22, 2013  --October 22, 2015  --December 28, 2014  --November 17, 2015  --January 11, 2013  --December 18, 2011  --June 8, 2012  --January 2, 2015  --March 24, 2014  --June 6, 2014  --June 15, 2013  --March 19, 2015  --June 15, 2014  --April 5  --February 20, 2015  --March 19, 2012  --August 23, 2011  --April 30, 2014  --April 21, 2013  --November 21, 2015  --August 28, 2012  --July 13, 2013  --March 15, 2013  --September 26, 2012  --September 5  --August 8  --June 19  --September 6  --October 23, 2014  --July 25, 2013  --August 24  --July 22  --May 11, 2014  --February 12, 2013  --August 25, 2012  --September 17, 2015  --February 22, 2013  --July 22, 2014  --October 18, 2013  --January 22, 2014  --October 11, 2014  --June 2, 2015  --March 18  --August 9, 2015  --April 8  --May 1, 2013  --February 24, 2015  --December 30, 2012  --May 3  --January 4, 2013  --July 9, 2011  --August 28, 2015  --February 12  --May 19, 2014  --May 22, 2014  --September 7, 2013  --August 23, 2013  --July 16, 2015  --April 22, 2014  --September 5, 2013  --January 25, 2013  --September 10, 2014  --January 24, 2015  --August 7, 2012  --March 16  --June 1, 2012  --January 

I found 2 date formats in the **posted** column: one as MM/DD/YYYY and the other as MM/DD.

In [53]:
# Extract the year from the posted column and creates the year column using regular expressions.
df_reviews_final['year'] = df_reviews_final['posted'].str.extract(r'\b(\d{4})\b')

# Handle cases where the year couldn't be extracted.
df_reviews_final['year'].fillna('Not Available', inplace=True)

# Checking the result of both conditions.
df_reviews_final.iloc[6:8]

,funny,posted,last_edited,item_id,helpful,recommend,review,user_id,user_url,year
6,NaN,Posted February 3.,NaN,248820,No ratings yet,True,A suitably punishing roguelike platformer. Wi...,evcentric,http://steamcommunity.com/id/evcentric,Not Available
7,NaN,"Posted December 4, 2015.","Last edited December 5, 2015.",370360,No ratings yet,True,"""Run for fun? What the hell kind of fun is that?""",evcentric,http://steamcommunity.com/id/evcentric,2015

In [49]:
# Count occurrences of each value in the 'year' column
year_counts = df_reviews_final['year'].value_counts()

# Display the count specifically for 'Not Available'
not_available_count = year_counts.get('Not Available', 0)
print(f"Count for 'Not Available': {not_available_count}")

Count for 'Not Available': 9902

I checked the results, and I found 9,902 dates with a missing year.

In [54]:
# Remove rows where 'year' is equal to 'Not Available' and reset the index
df_reviews_final = df_reviews_final[df_reviews_final['year'] != 'Not Available'].reset_index(drop=True)

In [55]:
# checking the result.
df_reviews_final.iloc[6:8]

,funny,posted,last_edited,item_id,helpful,recommend,review,user_id,user_url,year
6,NaN,"Posted December 4, 2015.","Last edited December 5, 2015.",370360,No ratings yet,True,"""Run for fun? What the hell kind of fun is that?""",evcentric,http://steamcommunity.com/id/evcentric,2015
7,NaN,"Posted November 3, 2014.",NaN,237930,No ratings yet,True,"Elegant integration of gameplay, story, world ...",evcentric,http://steamcommunity.com/id/evcentric,2014

I decided to delete the rows with a missing year because this parameter is crucial for the entire project.

<div style="text-align: justify">

### 6. Deleting columns

I considered that the columns **funny**, **last_edited**, **posted reviews**, **helpful**, and **user_url** were not necessary for the project.

</div>

In [57]:
# Deleting columns
columns_to_drop = ['funny', 'last_edited', 'posted', 'reviews', 'helpful', 'user_url']

# Drop the specified columns
df_reviews_final = df_reviews_final.drop(columns=columns_to_drop, errors='ignore')

In [58]:
# Checking the final version of the file before overwrite it.
df_reviews_final

,item_id,recommend,review,user_id,year
0,1250,True,Simple yet with great replayability. In my opi...,76561197970982479,2011
1,22200,True,It's unique and worth a playthrough.,76561197970982479,2011
2,43110,True,Great atmosphere. The gunplay can be a bit chu...,76561197970982479,2011
3,251610,True,I know what you think when you see this title ...,js41637,2014
4,227300,True,For a simple (it's actually not all that simpl...,js41637,2013
...,...,...,...,...,...
48457,730,True,Neat,76561198239215706,2015
48458,730,True,its FUNNNNNNNN,wayfeng,2015
48459,253980,True,Awesome fantasy game if you don't mind the gra...,76561198251004808,2015
48460,730,True,Prettyy Mad Game,72947282842,2015
48461,730,True,AMAZING GAME 10/10,ApxLGhost,2015

<div style="text-align: justify">

### 5. It is time to overwrite it

</div>

In [59]:
# Overwrite the original CSV file.
df_reviews_final.to_csv('csv/user_reviews.csv', index=False)